@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext');
*
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
html
  box-sizing border-box
  font-family: 'Roboto', sans-serif;
  font-size: 18px
  font-weight: 300
  color #000
  overflow-x: hidden;
